
body{
    background-color: #370617;
}

.page__one{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-content: center;
    /*
    border-radius: 2px;
    border-color: aliceblue;
    border-style: solid;
    */
}

.rectangle{
    width: 468px;
    height: 160px;
    box-sizing: border-box;
    padding: 20px;
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px; 
    display: flex;
    gap: 20px;
}

.box{
    width: 78px;
    min-height: 78px;
    background: #9D0208;
    border-radius: 4px;
    display: flex;
}

.rectangle-one{
    align-items: flex-end; 
}

.rectangle-two{
    align-items: stretch;
    justify-content: center;
}


.rectangle-three{
    align-items: center;
    justify-content: flex-end;
}

.rectangle-four{
    justify-content: space-between;
}

.four__box-three{
    align-self: flex-end;
}

.rectangle-five{
    justify-content: space-evenly;
    align-content: center;
}

.five__box-two{
    align-self: center;
}


.five__box-one, .five__box-two, .five__box-three{
    box-sizing: border-box;
    padding: 10px;
    align-items: baseline;
}


.txt{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #FFFFFF;
}

.rectangle-six{
    justify-content: center;
    align-items: center;
}

.six__box-two{
    flex-grow: 1;
}


/*PAGE TWO*/

.page__two{
    background-color: #FAA307;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.square{
    width: 273px;
    height: 220px;
    background: #03071E;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
}

.red{
    background: #6A040F;
}

.circle{
    width: 50px;
    height: 50px;
    left: calc(50% - 50px/2 - 385px);
    top: calc(50% - 50px/2 - 185px);
    background: #748CAB;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
}

.square-one{
    align-items: flex-start;
    justify-content: flex-start;
}

.square-two{
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.square-three{
    justify-content: space-between;
    align-content: space-between;
}

.square-four{
    justify-content: space-around;
    align-content: space-around;
}

.square-five{
    justify-content: center;
    align-content: center;
}